body {
    text-align: center;
    background-color: lightsalmon;
    color: salmon;
    background-image:url("https://www.transparenttextures.com/patterns/always-grey.png");

}


h1 {
    font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
    font-size: 70px;
    margin: 0.2em;
    box-shadow: 6px 7px 14px 1px rgba(0,0,0,0.22); 
    background-color: lightblue;
    color: salmon;

}

.theBody {
    margin: 1em;
    box-shadow: 6px 7px 14px 1px rgba(0,0,0,0.22);
    background-color: lightblue;
}


h2 {
    margin: 1em 0 0.25em;
}

.lighter {
    color:lightsalmon;
}
.button {
    background-color: lightsalmon;
    color: lightcyan;
    box-shadow: 5px 2px 7px 1px rgba(0,0,0,0.22);
}

.inputBox {
    color: salmon;
}
h2:first-of-type {
    margin-top: 0.5em;
}
.picker {
    margin-bottom: 1em;
}

table,
tr,
td {
    border: 1px solid black;
}

.spacing {

    margin: 1em 0 0.25em;
    float: right;

}
table {

    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 6px 7px 14px 1px rgba(0,0,0,0.22);
}

tr {
    height: 20px;
    background-color: lightsalmon;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
